@import "@styles/scss/layoutMixins";
@import "@styles/scss/Variables.scss";

div.partDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  div.leftCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    @include mediumScreens {
      width: 40%;
    }
    @include mediumScreensDesk {
      align-items: center;
    }
  }
  img.partImg {
    width: 100%;
    @include mediumScreens {
      width: 50%;
    }
  }
}

/* GetStarted Section Styles */
.getStartedLeftContainer {
  background-color: rgb(230, 230, 252);
  border-radius: 12px;
  box-shadow: rgba(50, 87, 120, 0.09) 0px 0.796192px 0.796192px -0.4375px, 
              rgba(50, 87, 120, 0.1) 0px 2.41451px 2.41451px -0.875px, 
              rgba(50, 87, 120, 0.11) 0px 6.38265px 6.38265px -1.3125px, 
              rgba(50, 87, 120, 0.16) 0px 20px 20px -1.75px;
  opacity: 1;
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}

.getStartedRightContainer {
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(50, 87, 120, 0.09) 0px 0.796192px 0.796192px -0.4375px, 
              rgba(50, 87, 120, 0.1) 0px 2.41451px 2.41451px -0.875px, 
              rgba(50, 87, 120, 0.11) 0px 6.38265px 6.38265px -1.3125px, 
              rgba(50, 87, 120, 0.16) 0px 20px 20px -1.75px;
  padding: 0;
  width: 100%;
  border: 1px solid rgb(228, 223, 220);
  
  @include mediumScreens {
    min-height: 300px;
  }
}

.iconContainer {
  width: 64px;
  height: 64px;
}

.iconSvg {
  user-select: none;
  width: 100%;
  height: 100%;
  display: inline-block;
  fill: rgb(90, 68, 185);
  color: rgb(90, 68, 185);
  flex-shrink: 0;
}

.quickStartText {
  color: rgb(90, 68, 185);
  font-size: 1.5rem;
  font-weight: 600;
}

.tabButton {
  border-radius: 12px;
}

.tabButtonActive {
  border-top-right-radius: 0;
}

.tabButtonInactive {
  border-top-left-radius: 0;
}

.stepIcon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(243, 244, 246);
}

.stepIconSvg {
  user-select: none;
  width: 100%;
  height: 100%;
  display: inline-block;
  fill: rgb(91, 68, 186);
  color: rgb(91, 68, 186);
  flex-shrink: 0;
}
