@import "@styles/scss/layoutMixins";
@import "@styles/scss/Variables.scss";

div.adopterListCardCont {
  display: flex;
  flex-direction: column;
  div.adopterListCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    @include mediumScreens {
      margin-bottom: 6rem;
    }
    div.adopterLogoCont {
      width: 100%;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 6.400000095367432px 14.399999618530273px 0px #00000021,
        0px 1.2000000476837158px 3.5999999046325684px 0px #0000001a;
      border-radius: 10px;
      @include mediumScreens {
        width: 480px;
        margin-right: 2rem;
        height: 290px;
      }
      img {
        max-width: 80%;
        max-height: 80%;
      }
    }
    div.adopterTextCont {
      margin-top: 2rem;
      width: 100%;
      @include mediumScreens {
        width: 50%;
        margin-top: 0;
      }
    }
  }
}

div.videoModal {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 200;
  touch-action: none;
  display: flex;
  justify-content: center;
  align-items: center;
  div.videoCont {
    border-radius: 20px;
    width: 95%;
    height: 95%;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    span {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
    div.iframeCont {
      position: relative;
      overflow: hidden;
      max-width: 800px;
      max-height: 450px;
      width: 90vw;
      height: 50.85vw;
      margin: 0 auto;
      @include mediumScreens {
        margin: 0;
      }
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

div.adopterVideoStripeMainCont {
  height: auto;
  margin: 3rem 0;
  div.adoperColorSkewedCont {
    z-index: 5;
    position: absolute;
    width: 100%;
    left: 0;
    top: 40%;
    height: 50px;
    top: 50%;
    transform: skewY(-6deg) translateY(-50%);
    display: flex;
    flex-direction: column;
    @include mediumScreens {
      height: 100px;
    }
    @include largeScreens {
      height: 150px;
    }
    div {
      height: calc(100% / 4);
      width: 100%;
    }
  }
  div.videoCont {
    min-height: 200px;
    border-radius: 10px;
    box-shadow: 0px 6.400000095367432px 14.399999618530273px 0px #00000021,
      0px 1.2000000476837158px 3.5999999046325684px 0px #0000001a;
    @include mediumScreens {
      min-height: 350px;
    }
    @include largeScreens {
      min-height: 480px;
    }
    img.adopterLogo {
      max-height: 50%;
      max-width: 50%;
      @include mediumScreens {
        width: 400px;
      }
    }
    img.playBtn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.8;
      height: 50px;
      width: 50px;
      cursor: pointer;
      @include mediumScreens {
        height: 80px;
        width: 80px;
      }
      @include largeScreens {
        height: 100px;
        width: 100px;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}
