@import "@styles/scss/layoutMixins";
@import "@styles/scss/Variables.scss";

a.regularButton {
  background: $button-background;
  color: #fff;
  font-size: 0.9rem;
  line-height: 1;
  border-radius: 12px;
  box-shadow: $button-shadow;
  font-weight: 500;
  padding: 12px 20px 12px 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  @include mediumScreens {
    padding: 0.85rem 1.4rem;
    font-size: 1rem;
  }
 }
a.outlinedButton {
  background: transparent;
  color: $litmus-blue;
  font-size: 0.9rem;
  line-height: 1;
  border-radius: 12px;
  box-shadow: 0 0 0 1px $litmus-blue, $button-shadow;
  font-weight: 500;
  padding: 12px 20px 12px 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  @include mediumScreens {
    padding: 0.85rem 1.4rem;
    font-size: 1rem;
  }
}

a.textLink {
  font-size: 0.9rem;
  line-height: 1;
  @include mediumScreens {
    font-size: 1rem;
  }
  span {
    display: flex;
    align-items: center;
    svg {
      margin-left: 5px;
    }
  }
}
