@import "@styles/scss/layoutMixins";
@import "@styles/scss/Variables.scss";

div.featureCard {
  padding: 2.5rem 1.5rem;
  border-radius: 16px;
  overflow: hidden;
  min-height: 260px;
  background: #f6fbff;
  box-shadow: rgba(16, 49, 77, 0.05) 0px 0.706592px 0.706592px -0.291667px, rgba(16, 49, 77, 0.06) 0px 1.80656px 1.80656px -0.583333px, rgba(16, 49, 77, 0.06) 0px 3.62176px 3.62176px -0.875px, rgba(16, 49, 77, 0.06) 0px 6.8656px 6.8656px -1.16667px, rgba(16, 49, 77, 0.07) 0px 13.6468px 13.6468px -1.45833px, rgba(16, 49, 77, 0.1) 0px 30px 30px -1.75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  
  @include mediumScreens {
    min-height: auto;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .featureContent {
    flex: 1;
    min-width: 0;
    
    h3 {
      color: #483953;
    }
  }
  
  .featureMascot {
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    
    @include mediumScreens {
      width: 100px;
      height: 100px;
    }
  }
}
div.cardBackImg {
  background-image: url("/landing_images/feature-back.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 50%;
}

div.featureCardCont {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  @include mediumScreens {
    margin-top: 4rem;
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include largeScreens {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

div.moreFeatureCard {
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 16px;
  overflow: hidden;
  background: #f6fbff;
  box-shadow: rgba(16, 49, 77, 0.05) 0px 0.706592px 0.706592px -0.291667px, rgba(16, 49, 77, 0.06) 0px 1.80656px 1.80656px -0.583333px, rgba(16, 49, 77, 0.06) 0px 3.62176px 3.62176px -0.875px, rgba(16, 49, 77, 0.06) 0px 6.8656px 6.8656px -1.16667px, rgba(16, 49, 77, 0.07) 0px 13.6468px 13.6468px -1.45833px, rgba(16, 49, 77, 0.1) 0px 30px 30px -1.75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 120px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  
  @include mediumScreens {
    padding: 2.5rem;
    min-height: 140px;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
  
  .content {
    flex: 1;
    padding-right: 2rem;
    
    h3 {
      color: #483953;
    }
    
    @include mediumScreens {
      padding-right: 3rem;
    }
  }
  
  .mascot {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    background-image: url("/landing_images/feature-back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
    @include mediumScreens {
      width: 100px;
      height: 100px;
    }
  }
}
