@import "@styles/scss/layoutMixins";
@import "@styles/scss/Variables.scss";

div.navbarContFluidScrolled {
  box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1),
    0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
}

div.navbarContFluid {
  z-index: 40;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  background: #fafbfc;
  div.navbarCont {
    nav.navbar {
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      div.logoCont {
        gap: 1rem;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include mediumScreens {
          gap: 2rem;
        }
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          img {
            height: 40px;
            @include mediumScreens {
              height: 50px;
            }
          }
        }
      }
      ul.navLinks {
        display: none;
        @include mediumScreens {
          display: flex;
        }
        align-items: center;
        li {
          display: inline-block;
          @include mediumScreens {
            margin: 0 0.685rem;
          }
          @include largeScreens {
            margin: 0.785rem;
          }
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
          a {
            width: 100%;
          }
          div.dropDownDesktop {
            position: absolute;
            right: 1rem;
            left: 1rem;
            display: none;
            transition: all 100ms ease-in;
            @include largeScreens {
              min-width: 800px;
              left: auto;
            }
            @include extraLargeScreens {
              right: 0;
            }
            div.overHead {
              width: 100%;
              height: 20px;
              background: transparent;
            }
            div.dropDownBody {
              z-index: 50;
              width: 100%;
              height: calc(100% - 20px);
              background: #fff;
              box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1),
                0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
              border-radius: 6px;
              display: flex;
              justify-content: space-between;
              table.docsDropDown {
                tr {
                  margin: 0.375rem 0;
                  display: block;
                  &:first-child {
                    margin-top: 0;
                  }
                  &:last-child {
                    margin-bottom: 0;
                  }
                }
              }
              div.mainMenuItemCont {
                padding: 2rem;
                div.primaryLink {
                  display: inline-flex;
                  align-items: center;
                  div {
                    margin-left: 1rem;
                  }
                  &:hover {
                    svg {
                      &.documentationSVG {
                        path {
                          fill: #0098dd;
                        }
                      }
                      &.touch {
                        path {
                          fill: #128359;
                          &:first-child {
                            fill: #00cc9a;
                          }
                          &:nth-child(3),
                          &:nth-child(4),
                          &:nth-child(5) {
                            stroke: #128359;
                          }
                        }
                      }
                      &.involved {
                        path {
                          fill: #0098dd;
                        }
                      }
                      &.adopters {
                        path {
                          fill: #f2536d;
                        }
                      }
                    }
                    p {
                      &.documentation {
                        color: #0098dd;
                      }
                      &.tutorials {
                        color: #00cc9a;
                      }
                      &.involved {
                        color: #0098dd;
                      }
                      &.adopters {
                        color: #f2536d;
                      }
                    }
                  }
                }
                div.secondaryLinks {
                  margin-top: 2rem;
                }
              }
              div.subMenuItemCont {
                background: #f1f5f9;
                padding: 2rem;
                display: flex;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
              }
            }
          }
          &:hover {
            span {
              color: #1c0732;
            }
            div.dropDownDesktop {
              display: block;
            }
          }
        }
      }
      div.hamMenu {
        cursor: pointer;
        width: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include mediumScreens {
          display: none;
        }
        span {
          display: block;
          height: 3px;
          width: 100%;
          border-radius: 1px;
          background: #5b44ba;
          transition: all 100ms ease-in;
          &:first-child {
            margin-bottom: 5px;
          }
        }
      }
      div.hamOpen {
        span {
          &:first-child {
            transform: rotate(45deg) translateX(5.5px);
          }
          &:last-child {
            transform: rotate(-45deg) translateX(5.5px);
          }
        }
      }
    }
  }
}

div.navbarMobileContFluid {
  height: calc(100vh - 70px);
  background-color: #fff;
  z-index: 100;
  padding-top: 1rem;
  @include mediumScreens {
    display: none;
  }
  div.navbarMobileCont {
    height: calc(100% - 3rem);
    div.linkMainCont {
      position: relative;
      width: 100%;
      height: 100%;
      ul.mobileNavbarUL {
        li {
          font-size: 1rem;
          font-weight: 500;
          color: #696f8c;
          padding: 0.5rem 0;
          margin: 1rem 0;
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
          span {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
      div.openMobileMenuCont {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        background-color: #fff;
        span.backToggle {
          display: flex;
          align-items: center;
          font-size: 1rem;
          font-weight: 500;
          color: #696f8c;
          padding: 0.5rem 0;
          svg {
            margin-right: 1rem;
          }
        }
        div.dropDownContMobile {
          height: calc(100% - 40px);
          overflow-y: auto;
          div.secondaryLinks {
            background: #f1f5f9;
            padding: 1rem;
            margin-top: 1rem;
            border-radius: 6px;
            div.mobileSecondaryLinkCont {
              div {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
div.gitPart {
  border: 1px solid #cfd3e3;
  background: linear-gradient(133.06deg, #f9fafc 1.78%, #eef1f7 64.41%);
  display: flex;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0px 1.6px 3.5px 0px #00000021, 0px 0.3px 0.9px 0px #0000001a;
  @include mediumScreens {
    margin-right: 1rem;
  }
  &:last-child {
    margin-right: 0;
  }
  div.gitLink {
    padding: 0.1rem 0.3rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    @include smallScreens {
      padding: 0.2rem 0.5rem;
    }
    img {
      height: 20px !important;
      width: auto;
    }
    span {
      display: inline-block;
      margin-left: 0.2rem;
      font-size: 0.9rem;
    }
  }
  div.gitCount {
    padding: 0.1rem 0.3rem;
    border-left: 1px solid #cfd3e3;
    overflow: hidden;
    @include smallScreens {
      padding: 0.2rem 0.5rem;
    }
    span {
      font-size: 0.9rem;
    }
  }
}

div.bannerBackground {
  background: linear-gradient(90deg, #b1479a 0%, #6a2c88 100%);
}
