@import "@styles/scss/layoutMixins";
@import "@styles/scss/Variables.scss";

.upcomingEventContainerFluid {
  .background {
    position: absolute;
    height: 50%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #fafbfc;
  }
  .upcomingEventContainer {
    z-index: 2;
    position: relative;
    box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04),
      0px 8px 16px rgba(96, 97, 112, 0.16);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
    background-color: #ffffff;
    @include mediumScreens {
      flex-direction: row;
      padding: 1.5rem 2rem;
      gap: 2rem;
    }
    .imageContainer {
      width: 100%;
      min-height: 300px;
      background: #333333;
      border-radius: 10px;
      overflow: hidden;
      @include mediumScreens {
        width: 50%;
      }
    }
    .textContainer {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;
      @include mediumScreens {
        width: 50%;
        min-height: 300px;
        padding: 1.5rem 0;
      }
      .topText {
        .gradText {
          font-size: 0.8rem;
          letter-spacing: 0.1rem;
          font-weight: 500;
          color: #8a36ff;
          background: linear-gradient(
            289.89deg,
            #bea1ff -12.53%,
            #8a36ff 78.12%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
